.card {
    position: relative;
}

.card img {
    max-width: 180px;
    width: 100%;
    height: 150px;
    display: block;
    object-fit: cover;
    border-radius: 5px;
    border: solid 2px white;
}

.card .front {
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    position: absolute;
}

.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    cursor: pointer;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}